appdirs==1.4.3
cycler==0.10.0
eyeD3==0.7.11
packaging==16.8
pydub==0.18.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
PyYAML==3.12
simplejson==3.10.0
numpy==1.12.1
scipy==0.19.0
scikit-learn==0.18.1
sklearn==0.0
hmmlearn==0.2.0
